@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }


.title .my-container {
	border: 10px double #D70306;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: italic;
	text-align: center;
}
#my-container2 {
	color: #E10B85;
	background-image: url(file:///Macintosh%20HD/Users/anhtrinhthithuc/OneDrive%20-%20BUas/YEAR%202%20-%20deliverables/PRJ4/production/prj4-check4/prj4-check4/my-project/images/check1/footer.jpg);	
}
.main-text .main {
	color: #8A0AE1;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.text {
}
.text {
	margin-left: 7px;
	margin-right: 7px;
}
